.sidebar {
    background-color: var(--primary-gray);
    flex: 1;
    text-align: center;
    height: calc(100vh - 4rem);
}

.sidebar-title, .sidebar-list{
    margin-top: 1rem;
}
.sidebar-list{ 
    list-style: none;
}

.list-item {
    text-transform: uppercase;
    text-decoration: none;
    margin-top: .5rem;
    transition: color .2s;
}
.list-item:hover {
    color: var(--primary-blue);
}

@media (max-width:600px) {
    .sidebar {
        display: none;
    }
}