.post-author{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 2rem 1rem 2rem;
}

.user-image{
    width: 30px;
    height: 30px;  
    border-radius: 50%;
    overflow: hidden;
}

.user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}