.header {
    width: 100%;
    height: 4rem;
    background-color: var(--primary-gray);
    color: var(--primary-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}

.header-left ,.header-right, .header-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.header-left{
    justify-content: flex-start;
}
.header-search{
    border-radius: 5px;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    padding: .4rem;
}

.header-search input {
    background-color: var(--primary-blue);
    color: var( --primary-white);
    border: none;
}
.header-search input::placeholder {
    color: var(--primary-white);
}

.header-logo {
    color: var(--primary-black);
}

.header-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.header-button{
    font-size: .9rem;
}
.header-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-links{
    display: flex;
    gap: 1rem;
}
.header-links .link {
    transition: all .2s;
}
.header-links .link:hover{
    color: var(--primary-blue);
}

.logout, .search-btn{
    cursor: pointer;
}

@media (max-width:600px) {
    .header-search {
        display: none;
    }
    .header-button {
        font-size: .6rem;
    }
}