.App {
    background-color: var(--primary-white);
    min-height: 100vh;
}

.link {
    text-decoration: none;
    color: currentColor;
}
.center {
    text-align: center;
    margin-top: 1rem;
}

.btn {
    padding: .5rem;
    border-radius: 5px;
    border: none;
}

.btn-primary{
    color: var(--primary-white);
    background-color: var(--primary-blue);
    transition: all .2s;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--secondary-blue);
}