.App {
    background-color: var(--primary-white);
    min-height: 100vh;
}

.link {
    text-decoration: none;
    color: currentColor;
}
.center {
    text-align: center;
}

.main {
    max-width: 960px;
    margin: 0 auto;
}