.register-page{
   height: calc(100vh - 4rem);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   background-image: url('../../assets/pattern.jpg');
   background-size: cover;
   backdrop-filter: blur(100px);
}

.register-form {
    margin: 0 auto;
    width: 200px;
}
.form-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: .5rem;
}
.form-input{
    width: 100%;
    padding: .4rem .4rem;
    border-radius: 5px;
}

.form-div .btn {
    align-self: center;
    margin-top: .8rem;
}